.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blue-cell {
  background-color: blue;
  color: white;
}
.green-cell {
  background-color: green;
  color: white;
}
.purple-cell {
  background-color: purple;
  color: white;
}
